; Copyright(c) Shanghai Eastsoft Microelectronics Co., Ltd.
; FileName   : 
; Description: HLink Resource File
; Version    : V1.0
; Date       : 2020-07-13

ROM     NAME = SEGMENT0       START = 0000     END = 07FF     PROTECTED = 0
ROM     NAME = SEGMENT1       START = 0800     END = 0FFF     PROTECTED = 1
ROM     NAME = SEGMENT2       START = 1000     END = 17FF     PROTECTED = 1
ROM     NAME = SEGMENT3       START = 1800     END = 1FFF     PROTECTED = 1

ROM     NAME = .idlocs        START = 8020     END = 8020     PROTECTED = 1
ROM     NAME = .config        START = 8000     END = 8000     PROTECTED = 1
RAM     NAME = SECTION0       START = 0000     END = 007F     PROTECTED = 0
RAM     NAME = SECTION1       START = 0080     END = 00FF     PROTECTED = 0
RAM     NAME = SECTION2       START = 0100     END = 017F     PROTECTED = 0
RAM     NAME = SECTION3       START = 0180     END = 01FF     PROTECTED = 0
RAM     NAME = SECTION4       START = 0200     END = 027F     PROTECTED = 0
RAM     NAME = SECTION5       START = 0280     END = 02FF     PROTECTED = 0
RAM     NAME = SECTION6       START = 0300     END = 037F     PROTECTED = 0
RAM     NAME = SECTION7       START = 0380     END = 03FF     PROTECTED = 0
RAM     NAME = SFR0      START = 6000     END = 60FF     PROTECTED = 1
RAM     NAME = SFR1      START = FF80     END = FFFF     PROTECTED = 1

ASSIGNINFO    NAME = #CINIT         ROM = SEGMENT0       
ASSIGNINFO    NAME = main#          ROM = SEGMENT0       
ASSIGNINFO    NAME = _INIT          ROM = SEGMENT0       
ASSIGNINFO    NAME = _INIT_FULLSPACE   ROM = SEGMENT0          
ASSIGNINFO    NAME = IDLOCS         ROM = .idlocs        
ASSIGNINFO    NAME = CONFIG         ROM = .config        
ASSIGNINFO    NAME = SECTION0       RAM = SECTION0       
ASSIGNINFO    NAME = DATATEMP       RAM = SECTION0 
ASSIGNINFO    NAME = DATATEMP_INT1       RAM = SECTION0  
ASSIGNINFO    NAME = DATATEMP_INT2       RAM = SECTION0      
ASSIGNINFO    NAME = $GSMAIN        RAM = SECTION0       
ASSIGNINFO    NAME = $GSINT         RAM = SECTION0       
ASSIGNINFO    NAME = DATATEMP_PTR   RAM = SECTION0  
ASSIGNINFO    NAME = DATATEMP_PTR_INT1   RAM = SECTION0  
ASSIGNINFO    NAME = DATATEMP_PTR_INT2   RAM = SECTION0   
ASSIGNINFO    NAME = DATATEMP_MUL_MY RAM = SECTION0      
ASSIGNINFO    NAME = SECTION1       RAM = SECTION1       
ASSIGNINFO    NAME = SECTION2       RAM = SECTION2       
ASSIGNINFO    NAME = SECTION3       RAM = SECTION3       
ASSIGNINFO    NAME = SECTION4       RAM = SECTION4       
ASSIGNINFO    NAME = SECTION5       RAM = SECTION5       
ASSIGNINFO    NAME = SECTION6       RAM = SECTION6       
ASSIGNINFO    NAME = SECTION7       RAM = SECTION7       
ASSIGNINFO    NAME = SECTION8       RAM = SECTION8        
